.special {
  .ms-ContextualMenu-Callout {
    right: unset !important;
    max-width: 100vw;
  }
}

.nate-team-breadcrumb-css {
  min-width: 50%;
  max-width: 100vw;
  button {
    display: inline-flex;
  }
}
